<!-- <img class="ui fluid image" src="assets/img/{{kvConstants.kv_banner_header_img_url}}"> -->
<img class="ui fluid image" src="assets/img/banner.jpg">
<!-- <img class="ui small circular image" style="position: absolute; bottom: 212px; right: 40px;" src="assets/img/banner_owner.jpg"> -->
<h4 class="ui horizontal divider header">
  <i class="tag icon"></i>
  Articles
</h4>

<div class="ui column centered grid" style="width: 75%;margin: auto;">
  <div class="column">
    <div class="ui segment" style="">
      <!-- <div class="ui left attached rail">
        <div class="ui medium rectangle test ad" data-text="Ad Unit 1"></div>
        <div class="ui medium rectangle test ad" data-text="Ad Unit 2"></div>
      </div>
      <div class="ui right attached rail">
        <div class="ui medium rectangle test ad" data-text="Ad Unit 1"></div>
        <div class="ui medium rectangle test ad" data-text="Ad Unit 2"></div>
      </div> -->
      <app-kv-blog-card></app-kv-blog-card>
    </div>
  </div>
</div>
