<a class="ui tag red label">blogs</a>
<h4 class="ui horizontal divider header">
  <i class="tag icon"></i>
  Read Blogs
</h4>
<!-- add aticle here -->
<app-kv-article-page-content></app-kv-article-page-content>
<h4 class="ui horizontal divider header">
  <i class="sort alphabet down icon"></i>
  Happy Reading
</h4>
<div>
  <span class="left floated" style="margin-top:3px;">
    Published on 8th Aug 
  </span>
  <span class="right floated" style="float: right;">
    <img class="ui avatar image" src="assets/img/rohit.jpg">Rohit Gupta
  </span>
</div>

<div class="ui hidden divider"></div>

<app-kv-related-articles></app-kv-related-articles>

















<!-- <button class="circular ui icon right bottom floated button">
  <i class="icon settings"></i>
</button> -->
