<div class="ui top fixed menu" style="z-index: 9999;position: sticky;top: 0;">
  <div class="brand-logo" style="padding:5px;">
    <a class="ui tag red label" [routerLink]="['']" style="margin-top: 20px; font-family: 'Barrio', cursive; font-size:15px;">Filter Tags</a>
  </div>
  <!-- <span *ngFor="let item of constants">
    <a class="item" routerLink="{{item.router_link_url}}">{{item.kv_toolbar_item}}</a>
  </span> -->
  <a class="item" [routerLink]="['']">Home</a>
  <a class="item" [routerLink]="['article']">Articles</a>
</div>
