<div class="ui segment">
  <div class="ui active dimmer">
    <div class="content">
      <h1 class="ui inverted icon header">
        Chitorgarh Fort
        <div class="sub header">Chittorgarh</div>
      </h1>
    </div>
  </div>
  <img class="ui fluid image" style="max-height: 350px; width: auto; margin: auto;" src="assets/img/banner.jpg">
</div>

<div class="ui two column centered grid">
  <div class="column">
    <div class="ui segment">
      <div class="ui left attached rail">
        <!-- for advertisement -->
        <!-- <div class="ui medium rectangle test ad" data-text="Ad Unit 1"></div>
        <div class="ui medium rectangle test ad" data-text="Ad Unit 2"></div> -->
      </div>
      <div class="ui right attached rail">
        <!-- for advertisement -->
        <!-- <div class="ui medium rectangle test ad" data-text="Ad Unit 1"></div>
        <div class="ui medium rectangle test ad" data-text="Ad Unit 2"></div> -->
        <div class="ui secondary vertical pointing menu" style="position: sticky; top: 75px; margin-top: 110px;">
          <a class="item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item active">
            Friends
          </a>
        </div>
      </div>
      <app-kv-article-page></app-kv-article-page>
    </div>
  </div>
</div>
