<div class="ui two link cards">
  <a class="ui card" *ngFor="let blogDetails of blogCardDetails" href="{{blogDetails.blog_article_url}}"
    target="_blank">
    <div class="image">
      <img src="assets/img/{{blogDetails.blog_img_url}}">
    </div>
    <div class="content">
      <div>
        <a class="ui tag label">{{blogDetails.blog_tag_name}}</a>
        <a class="ui {{blogDetails.blog_tag_name}} tag label">{{blogDetails.blog_tag_name}}</a>
        <a class="ui {{blogDetails.blog_tag_name}}   tag label">{{blogDetails.blog_tag_name}}</a>
      </div>
      <div class="header" style="font-family: 'Gugi', cursive; font-size: 25px;">{{blogDetails.blog_header}}</div>
      <div class="meta">
        <a>{{blogDetails.blog_meta_name}}</a>
      </div>
      <!-- <div class="description">
        {{blogDetails.blog_description}}
      </div> -->
    </div>
    <div class="extra content">
      <span class="left floated" style="margin-top:3px;">
        Published on {{blogDetails.blog_published_date}}
      </span>
      <div class="right floated author">
        <img class="ui avatar image"
          src="assets/img/{{blogDetails.blog_writter_img_url}}">{{blogDetails.blog_writter_name}}
      </div>
    </div>
  </a>
</div>
