<img class="ui fluid bordered rounded image" src="assets/img/{{articleData.kv_article_first_para_img_url}}">
<div class="ui hidden divider"></div>
<p class="kv-blog-first-para">
  <span
    class="para-first-letter">{{articleData.kv_article_first_para_first_char}}</span>{{articleData.kv_article_first_para_description}}
</p>
<div class="ui hidden divider"></div>
<div class="ui segments">
  <div class="ui tall stacked segment">
    <p>{{articleData.kv_article_first_gray_container}}</p>
  </div>
</div>
<div class="ui hidden divider"></div>
<div class="ui fluid bordered rounded image" width="100%">
  <iframe src="assets/img/{{articleData.kv_article_first_para_video_url}}">
  </iframe>
</div>
<div class="ui hidden divider"></div>
<div class="ui segment">
  <div class="ui secondary segment">
    <p>{{articleData.kv_article_first_white_container}}</p>
  </div>
</div>
<div class="ui hidden divider"></div>
<div class="ui segments">
  <div class="ui segment">
    <p>Top</p>
  </div>
  <div class="ui segments">
    <div class="ui segment">
      <p>Nested Top</p>
    </div>
    <div class="ui segment">
      <p>Nested Middle</p>
    </div>
    <div class="ui segment">
      <p>Nested Bottom</p>
    </div>
  </div>
  <div class="ui segment">
    <p>Middle</p>
  </div>
  <div class="ui horizontal segments">
    <div class="ui segment">
      <p>Top</p>
    </div>
    <div class="ui segment">
      <p>Middle</p>
    </div>
    <div class="ui segment">
      <p>Bottom</p>
    </div>
  </div>
  <div class="ui segment">
    <p>Bottom</p>
  </div>
</div>

<h1 class="ui header">First header</h1>
<h2 class="ui header">Second header</h2>
<h3 class="ui header">Third header</h3>
<h4 class="ui header">Fourth header</h4>
<h5 class="ui header">Fifth header</h5>


<h2 class="ui center aligned icon header">
  <i class="circular users icon"></i>
  Friends
</h2>


<h2 class="ui header">
  <img class="ui image" src="assets/img/rohit.png">
  <div class="content">
    Learn More
  </div>
</h2>



<h2 class="ui header">
  <img src="assets/img/rohit.png" class="ui circular image">
  Patrick
</h2>



<h2 class="ui header">
  <i class="settings icon"></i>
  <div class="content">
    Account Settings
    <div class="sub header">Manage your preferences</div>
  </div>
</h2>


<h1 class="ui header">
  H1
  <div class="sub header">Sub Header</div>
</h1>
<h2 class="ui header">
  H2
  <div class="sub header">Sub Header</div>
</h2>
<h3 class="ui header">
  H3
  <div class="sub header">Sub Header</div>
</h3>
<h4 class="ui header">
  H4
  <div class="sub header">Sub Header</div>
</h4>
<h5 class="ui header">
  H5
  <div class="sub header">Sub Header</div>
</h5>



<h3 class="ui block header">
  Block Header
</h3>



<h3 class="ui top attached header">
  Top Attached
</h3>
<div class="ui attached segment">
  <p></p>
</div>
<h3 class="ui attached header">
  Attached
</h3>
<div class="ui attached segment">
  <p></p>
</div>
<h3 class="ui bottom attached header">
  Bottom Attached
</h3>


<div class="ui vertical icon menu">
  <a class="item">
    <i class="gamepad icon"></i>
  </a>
  <a class="item">
    <i class="video camera icon"></i>
  </a>
  <a class="item">
    <i class="video play icon"></i>
  </a>
</div>
